
@{
    ViewBag.Title = "HosGeldin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>Giriş işlemniz başarılı ile gerçekleştirlidi ..... Hoş Geldiniz : <span style="color:red; font-size:80px;">@User.Identity.Name </span> </h2>
    <h3>Anasayfaya geri dönmek için tıklayınız <a href="/Home/Index"> Tıklayınız Lütfen </a></h3>
</div>