
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    Account has benn created successfully... Giriş Yapmak için Tıklayınız
    <a href="/Account/Login" class="btn btn-success"><i class="fa fa-users"></i> Login </a>
</h2>

